<mat-card>

  <mat-card-content>

    <div *ngFor="let release of collection.data | paginate: config">
      <div id="release" fxLayout="row" fxLayoutGap="10">
        <div fxFlex="20%">
          <a id="gotoartist" [routerLink]="['/editartistform', release.id]" >
            <img   src="https://indiansummerrecordsserver.herokuapp.com/images/{{release.menuimage}}" alt="photo" width="100%" height="100%"/></a>
        </div>
        <div fxFlex="80%">
          <h3>{{release.name}}</h3>

          <h4>{{release.id}}</h4>

        </div>
      </div>
    </div>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </mat-card-content>
</mat-card>






<mat-toolbar color="black">

  <button mat-button routerLink="/home"><</button>




</mat-toolbar>
