<mat-card>

  <mat-card-content>

    <div *ngIf="( displayUtilsOptionsState$ | async) === ServiceStateEnum.IN_PROGRESS">
      <mat-spinner color="primary"></mat-spinner>
    </div>

    <div *ngIf="( displayUtilsOptionsState$ | async) === ServiceStateEnum.SUCCESS">
            <h3>{{thedata.title}}</h3>

    </div>


  </mat-card-content>


  <mat-card-header>
    <mat-card-title><h2>IndianSummer Admin</h2></mat-card-title>
  </mat-card-header>


  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="signup-fields">

      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" />
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">Login</button>
      </mat-card-actions>
    </div>
  </form>
</mat-card>
