#release {

  background-color: #ffA500;

}

#mainsite {
          padding-top: 10px;
          padding-bottom: 10px;
           background-color: #dddddd;


  }

#comborelease {

  background-color: #a0f0a0;

}

p {

   color: #000000;

   font-family: Arial, Impact, Charcoal, sans-serif;
   font-size: 20px;
   font-weight: bold;

}




