#release {

  background-color: #ffA500;

}

#mainsite {

           background-color: #dddddd;

  }

#comborelease {

  background-color: #a0f0a0;

}

p {

   color: #000000;

   font-family: Arial, Impact, Charcoal, sans-serif;
   font-size: 20px;
   font-weight: bold;

}




