#release {

  background-color: #ffA500;

}

#mainsite {
          padding-top: 10px;
          padding-bottom: 10px;
           background-color: #dddddd;
          font-size: 15px;
             font-weight: bold;

  }

  #signal {
            padding-top: 10px;
            padding-bottom: 10px;
             background-color: #ffcbd1;
             font-size: 15px;
                font-weight: bold;


    }


#comborelease {

  background-color: #a0f0a0;

}

p {

   color: #000000;

   font-family: Arial, Impact, Charcoal, sans-serif;
   font-size: 20px;
   font-weight: bold;

}




