<mat-card>

  <mat-card-content>

    <mat-card-header>
      <mat-card-title><h2 id="header">Artists List</h2></mat-card-title>
    </mat-card-header>


    <div *ngIf="( displayArtistsOptionsState$ | async) === ServiceStateEnum.IN_PROGRESS">
      <mat-spinner color="primary"></mat-spinner>
    </div>

    <div *ngIf="( displayArtistsOptionsState$ | async) === ServiceStateEnum.SUCCESS">
      <div *ngFor="let release of result">
        <div id="release" fxLayout="row" fxLayoutGap="10">
          <div fxFlex="20%">
            <a id="gotoartist" [routerLink]="['/editartistform', release.id]" >
              <img   src="https://indiansummerrecordsserver.herokuapp.com/images/{{release.menuimage}}" alt="photo" width="5%" height="5%"/></a>
          </div>
          <div fxFlex="80%">
            <h3>{{release.name}}</h3>

          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>



<mat-toolbar color="black">

  <button mat-button routerLink="/home"><</button>




</mat-toolbar>

