.tracks {
    font-family: 'Courier New', monospace;
    background-color: beige;
    border: 2px solid green;
  }


#release {

  background-color: #f0f0f0;

}


p {

   color: #000000;

   font-family: Impact, Charcoal, sans-serif;
   font-size: 20px;

}
