<mat-card>

  <mat-card-content>

    <mat-card-header>
      <mat-card-title><h2 id="header">Track  Container making calls by subscribing to the behaviourSubject using the async pipe method
        to subscribe to an observable created by calling the
        TrackService

        </h2></mat-card-title>
    </mat-card-header>


    <div *ngIf="( displayTrackOptionsState$ | async) === ServiceStateEnum.IN_PROGRESS">
      <mat-spinner color="primary"></mat-spinner>
    </div>

    <div *ngIf="( displayTrackOptionsState$ | async) === ServiceStateEnum.SUCCESS">

      <div class="tracks">Artist is : St.Etienne </div>
      <div class="tracks">Album is : Sound of Water </div>

      <div class="tracks">Track Number is :
        {{thedata.trackno}}</div>

      <div class="tracks">Track Title is :
       {{thedata.title}}</div>

      <div class="tracks">Track Length is :
        {{thedata.length}}</div>


    </div>
    <br><br><br>

    <div id="release">
      <button id="artlistinc" mat-button routerLink="/showmusicreleasescontainer"><p>Click here to make calls to Java Reactive >>></p></button>

    </div>

  </mat-card-content>
</mat-card>




