.tracks {
    font-family: 'Courier New', monospace;
    background-color: beige;
    border: 2px solid green;
  }


#release {
  padding-top:20px;
  background-color: #f0f0f0;
  font-size: 20px;
  font-family: sans-serif;
}


p {

   color: #000000;

   font-family: Arial, Impact, Charcoal, sans-serif;
   font-size: 20px;

}
