<mat-card>

  <mat-card-content>

    <div *ngFor="let release of collection.data">
      <div id="release" fxLayout="row" fxLayoutGap="10">
        <div fxFlex="20%">
          <a id="release" [routerLink]="['/editmusicreleaseform', release.id]" >
            <img   src="https://indiansummerrecordsserver.herokuapp.com/images/{{release.frontcoverimage}}" alt="photo" width="100%" height="100%"/></a>
        </div>
        <div fxFlex="80%">
          <h3>{{release.title}}</h3>

          <h4>{{release.artistname}}</h4>

        </div>
      </div>
    </div>
    
  </mat-card-content>
</mat-card>






<mat-toolbar color="black">

  <button mat-button routerLink="/home"><</button>




</mat-toolbar>
