
<h2>Stateful Store management example making calls to the TrackStore in memory rather than the call to the Stateless
  TrackService as the home page does</h2>
<p>Left hand column , right hand column displays data from the TrackStore, the Observable here is initialised
  by the TrackStore singleton which gets initialise once and subsequent calls to this page will not make any back end calls
  to access the data unlike because it is Stateful and data held in memory unlike the calls on the home page which are
  Stateless and need to call the backend service everytime you hit the page</p>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Column 1</h2>
    <p>data from artist Store observable</p>

  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Column 2</h2>
    <p>data from track Store observable</p>

    <div *ngIf="( displayTrackStoreOptionsState$ | async) === ServiceStateEnum.IN_PROGRESS">
      <mat-spinner color="primary"></mat-spinner>
    </div>

    <div *ngIf="( displayTrackStoreOptionsState$ | async) === ServiceStateEnum.SUCCESS">

      <div class="tracks">Artist is : St.Etienne </div>
      <div class="tracks">Album is : Sound of Water </div>

      <div class="tracks">Track Number is :
        {{thedata.trackno}}</div>

      <div class="tracks">Track Title is :
        {{thedata.title}}</div>

      <div class="tracks">Track Length is :
        {{thedata.length}}</div>



    </div>

  </div>
</div>


<mat-toolbar color="primary">
  <button mat-button routerLink="/indiansummeradmin">Admin home</button>
  <button mat-button routerLink="/artistconnectionscomponent, artist.id">Artist list</button>


</mat-toolbar>
