* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


.tracks {
    font-family: 'Courier New', monospace;
    background-color: beige;
    border: 2px solid green;
     font-size: 25px;
       font-weight: bold;
  }


#release {
  padding-top:20px;
  background-color: #f0f066;
  font-size: 30px;
  font-family: sans-serif;

}


p {

   color: #000000;

   font-family: Arial, Impact, Charcoal, sans-serif;
   font-size: 20px;

}
