<mat-card>
  <mat-card-header>
    <mat-card-title><h2 id="header">Indian Summer Admin</h2></mat-card-title>
  </mat-card-header>


  <mat-card-content>


  </mat-card-content>
</mat-card>



<ng-container>

  <ng-container>

    <artistscontainer></artistscontainer>

  </ng-container>

</ng-container>




<mat-toolbar color="primary">
  <button id="home" mat-button routerLink="/home"><</button>
  <button id="artlist" mat-button routerLink="/displayeditartistlist">Artist list</button>
  <button id="createart" mat-button routerLink="/createartistform">Create Artist</button>
  <button id="musiclist" mat-button routerLink="/displayededitmusicreleaselist">Musicrelease list</button>

</mat-toolbar>
