<mat-card>


  <mat-card-content>

    <app-summarycontainer></app-summarycontainer>

    <artistscontainer></artistscontainer>

    <app-musicreleasecontainer></app-musicreleasecontainer>

  </mat-card-content>
</mat-card>



<mat-toolbar color="primary">
  <button id="home" mat-button routerLink="/home"><</button>
  <button id="artlist" mat-button routerLink="/displayeditartistlist"><p>Artist list</p></button>

  <button id="musiclist" mat-button routerLink="/displayededitmusicreleaselist"><p>Musicrelease list</p></button>

</mat-toolbar>
